#chartdiv {
    width: 100%;
    height: 600px;
  }
  
  .demo-theme-dark .demo-background {
    background: #000;
  }

  #main {
      position: absolute;
      /* top: 1000; */
      width: 500px;
      height: 300px;
      /* background-color: #000; */
  }