h1{
  font-size: 10px;
  color: black;
}

#chartdiv {
    width: 100%;
    height: 600px;
  }
  
  .demo-theme-dark .demo-background {
    background: #000;
  }
#main {
    position: absolute;
    /* top: 1000; */
    width: 1300px;
    height: 500px;
    /* background-color: #000; */
}

#purpose {
  position: absolute;
  top: 550px;
  width: 1300px;
  height: 500px;
}

#radius {
  position: absolute;
  top: 1200px;
  width: 700px;
  height: 540px;
}

#vehicle {
  display: inline-block;
  width: 40%;
  height: 200px;
}

#time {
  display: inline-block;
  width: 59%;
  height: 200px;
}

#weekday-distance {
  display: inline-block;
  width: 700px;
  height: 400px;
  padding-left: 20px;
  padding-right: 20px;
}

#weekend-distance {
  display: inline-block;
  width: 700px;
  height: 400px;
  padding-right: 20px;
}

header{
    background-color: #4dc8f8;
    color: #FFF;
    height: 50px;
}
li{
    line-height: 50px;
    background-color: #4dc8f8;
    display: inline-block;
    padding: 0 20px;
}
li.active{
    background: rgba(1, 38, 95, 0.26);
}
a {
  color: inherit;
  text-decoration: none;
}

#parking_map { 
  position:absolute; 
  top:60px; 
  width:100%; 
  height: 600px; }

  #parking_menu {
    background: #fff;
    float: left;
    position: absolute;
    z-index: 1;
    top: 100px;
    right: 10px;
    border-radius: 3px;
    width: 120px;
    border: 1px solid rgba(0,0,0,0.4);
    font-family: 'Open Sans', sans-serif;
    }
     
    #parking_menu a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    text-align: center;
    }
     
    #parking_menu a:last-child {
    border: none;
    }
     
    #parking_menu a:hover {
    background-color: #f8f8f8;
    color: #404040;
    }
     
    #parking_menu a.active {
    background-color: #3887be;
    color: #ffffff;
    }
     
    #parking_menu a.active:hover {
    background: #3074a4;
    }

    #off_street {
      position: absolute;
      top: 750px;
      width: 100%;
  height: 500px;
    }