#chartdiv {
    width: 100%;
    height: 600px;
  }
  
  .demo-theme-dark .demo-background {
    background: #000;
  }
#main {
    position: absolute;
    /* top: 1000; */
    width: 500px;
    height: 300px;
    /* background-color: #000; */
}
header{
    background-color: #55caf8;
    color: #FFF;
}
li{
    line-height: 50px;
    background-color: #55caf8;
    display: inline-block;
    padding: 0 20px;
}
li.active{
    background: rgba(1, 38, 95, 0.26);
}